@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $fg-light-400;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 5px;
}
::-webkit-scrollbar-track {
  background-color: $bg-dark-500;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: $fg-light-300;
  box-shadow: 0 0 20px 0 $fg-light-400;
}

body {
  background-color: $bg-dark-500;
}

button {
  background-color: transparent;
  border: none;
}
