@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #eeeeee;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: #303841;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px 0 #eeeeee;
          box-shadow: 0 0 20px 0 #eeeeee;
}

body {
  background-color: #303841;
}

button {
  background-color: transparent;
  border: none;
}

.active {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.myNav {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* max-height: fit-content; */
  background-color: #3a4750;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  /* z-index: 10; */
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.myNav .myLogo {
  text-decoration: none;
  color: #ffffff;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  float: left;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#303841), to(#3a4750));
  background-image: linear-gradient(to right, #303841, #3a4750);
  padding: 4px 15px;
}

.myNav .toggleButton {
  display: none;
}

.myNav .menuIcon {
  float: right;
  position: relative;
  padding: 20px 1rem;
  margin-top: 10px;
  cursor: pointer;
}

.myNav .menuIcon .hamburger {
  position: relative;
  display: block;
  height: 0.25rem;
  width: 1.8rem;
  border-radius: 5px;
  background-color: #303841;
  z-index: 11;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.myNav .menuIcon .hamburger::after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  bottom: 8px;
  background-color: #303841;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.myNav .menuIcon .hamburger::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 8px;
  background-color: #303841;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.myNav .menu {
  clear: both;
  padding: 0;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  background-color: #3a4750;
  z-index: 9;
  -webkit-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}

.myNav .menu .menuItem {
  position: relative;
  display: block;
  color: #eeeeee;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.myNav .menu .menuItem:hover {
  background-color: #303841;
}

.myNav .menu #newsBy:checked ~ .submenu {
  max-height: 800px;
}

.myNav .menu .submenu {
  padding-left: 1.5rem;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  background-color: #1a1c1f;
  z-index: 8;
  -webkit-transition: max-height 300ms ease-out;
  transition: max-height 300ms ease-out;
}

.myNav .menu .submenu .menuItem {
  padding: 0.2rem 1.5rem;
  z-index: 9;
  background-color: #1f2022;
}

.myNav .menu .submenu .menuItem:hover {
  background-color: #303841;
}

.myNav .menu .submenu .submenuChildList {
  padding-left: 1.5rem;
  list-style: none;
  max-height: 0;
  background-color: #17191c;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.myNav .menu .submenu #categoryList > li > .menuItem {
  background-color: #17191c;
  z-index: 5;
}

.myNav .menu .submenu #categoryList > li > .menuItem:hover {
  background-color: #303841;
}

.myNav .menu .submenu #sourceList > li > .menuItem {
  background-color: #17191c;
  z-index: 6;
}

.myNav .menu .submenu #sourceList > li > .menuItem:hover {
  background-color: #303841;
}

.myNav .menu .submenu #termList > li > .menuItem {
  background-color: #17191c;
  z-index: 7;
}

.myNav .menu .submenu #termList > li > .menuItem:hover {
  background-color: #303841;
}

.myNav .menu .submenu #categories:checked ~ #categoryList {
  max-height: 400px;
}

.myNav .menu .submenu #sources:checked ~ #sourceList {
  max-height: 400px;
}

.myNav .menu .submenu #terms:checked ~ #termList {
  max-height: 400px;
}

.myNav #menuButton:checked ~ .myNav {
  height: 100vh;
}

.myNav #menuButton:checked ~ .menu {
  max-height: 800px;
}

.myNav #menuButton:checked ~ .menuIcon .hamburger {
  background-color: transparent;
}

.myNav #menuButton:checked ~ .menuIcon .hamburger::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.myNav #menuButton:checked ~ .menuIcon .hamburger::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* for desktop version */
@media (min-width: 790px) {
  .active {
    background-image: none;
    -webkit-animation-name: activeMenu;
            animation-name: activeMenu;
    -webkit-animation-duration: 200ms;
            animation-duration: 200ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes activeMenu {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      background-color: #303841;
    }
    20% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
      background-color: #00adb5;
    }
  }
  @keyframes activeMenu {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      background-color: #303841;
    }
    20% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
      background-color: #00adb5;
    }
  }
  .myNav .myLogo {
    float: none;
    display: inline;
  }
  .myNav .menuIcon {
    padding: 0;
    margin: 0;
  }
  .myNav .menuIcon .hamburger {
    display: none;
  }
  .myNav .menu {
    clear: none;
    float: right;
    max-height: none;
    padding-top: 8px;
  }
  .myNav .menu .menuItem {
    position: relative;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .myNav .menu .menuItem::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #02a373;
    -webkit-transition: height 200ms ease-out;
    transition: height 200ms ease-out;
  }
  .myNav .menu .menuItem:hover::after {
    height: 10%;
  }
  .myNav .menu > li {
    float: left;
  }
  .myNav .menu .submenu {
    position: absolute;
    padding-left: 0.5rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  .myNav .menu .submenu .submenuChildList {
    padding-left: 0.5rem;
  }
  .myNav .menu #newsBy:checked ~ .submenu {
    max-height: 700px;
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  /* background-color: rgb(2, 122, 122); */
  cursor: pointer;
  padding: 10px;
  /* border-radius: 5px; */
}

@-webkit-keyframes ripple {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(100);
            transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

@keyframes ripple {
  100% {
    -webkit-transform: translate(-50%, -50%) scale(100);
            transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */