#termList > li > .menuItem {
  background-color: rgb(23, 25, 28);
  z-index: 7;
  &:hover {
    background-color: var(--bg-dark-500);
  }
}

.submenu #terms:checked ~ #termList {
  max-height: 400px;
}
