* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: aliceblue;
  box-sizing: border-box;
}
.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(20, 5, 34);
  justify-content: center;
  align-items: center;
}
.container {
  width: 60%;
  height: 80%;
  padding: 0.7em;
  border-radius: 0.5em;
  background-color: rgb(3, 17, 39);
  display: grid;
  grid-gap: 0.4em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5fr 0.8fr 2fr 3fr 1fr;
  grid-template-areas:
    "i i"
    "dt s"
    "t t"
    "d d"
    "b b";
}
.image {
  width: 100%;
  height: 100%;
  border: rgba(255, 255, 255, 0.219) 2px solid;
  border-radius: 0.5em;
  background-color: aquamarine;
  grid-area: i;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
}
.date {
  grid-area: dt;
}
.source {
  text-align: right;
  grid-area: s;
}
.title {
  grid-area: t;
}
.desc {
  grid-area: d;
}
.button {
  display: flex;
  justify-content: center;
  grid-area: b;
}
