* {
  box-sizing: border-box;
  font-family: "Roboto";
}

#root,
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  background-color: rgb(159, 170, 207);
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .dropdown:hover .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}
