@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
/* font-family: 'Comfortaa', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
/* font-family: 'Fjalla One', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* font-family: 'Anton', sans-serif; */

@font-face {
  font-family: Staatliches;
  src: url("./fonts/staatliches-regular.ttf");
}
@font-face {
  font-family: JosefinSans;
  src: url("./fonts/josefin-sans.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("./fonts//roboto/roboto-regular.ttf");
  font-weight: 400;
}
@keyframes ripple {
  100% {
    transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

html {
  font-family: Roboto;
  font-size: 1em;
  scroll-behavior: smooth;
}
body {
  overflow: auto;
}
